name: Lint Golang Codebase

on:
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '**/*.md'
  push:
    branches:
      - master
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - uses: golangci/golangci-lint-action@v9
      with:
        version: v1.55.2
        args: --timeout 15m
